*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'DM Sans', sans-serif;

}

body {
    background:#fff;
    background-size: 100vw 100vw;
    background-repeat: no-repeat;
}

body, .modal {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba (0, 0, 0, 0.5);
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;

}
#btn-modal:checked ~ .modal {
    opacity: 1;
    visibility: visible;
}
.contenedor {
    width:400px ;
    height: 400px;
    margin: auto ;
    background: #fff ;
    box-shadow: 1px 7px 25px rgba (0, 0, 0, 0.6) ;
    transition: all 500ms ease;
    position: relative;
    transform: translateY(-5%);

}
#btn-modal:checked~.modal .contenedor{
    transform: translateY(0%);
}
.contenedor header {
    padding: 1em;
    background: #D41443;
    color: #fff;
    font-family: 'DM Sans', sans-serif;
}

.contenedor label {
position: absolute;
top: 5px;
right: 10px;
color: #fff;
font-size: 12px;
cursor: pointer;
}
.contenido {
    margin: auto;
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    overflow: hidden;
    text-align: center;
    padding: 1em 1em;
    border-radius: 1em;
}

.contenido form{
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba (0, 0, 0, .1);
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
}

.contenido form .inputBox {
    margin-top: 3px;
}
.contenido form .inputBox span {
    display: flex;
    color: #999;
    text-transform: uppercase;
}





#btn-modal {
    display: none;
}

.lbl-modal {
    background: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.submit-btn {
        margin-top: 5px;
        background-color: #FFB8CA;
        color: #fff;
        text-decoration: none;
        padding: 1em 1em;
        border-radius: .6em;
    
}

.card-number-input:hover{
    border-color: blue;
}
.card-holder-input:hover {
    border-color: blue;
    
}
.cvv-input:hover {
    border-color: blue;
}

input:focus::placeholder {
    color: transparent;
    
}

.submit-btn:active {
    box-shadow: 0 5px #666;
}

.card-holder-input{
    text-transform: uppercase;
}

@media (max-width:600px)