* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

.modal2 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFB8CA;
    display: flex;

}

.modal-container2 {
    position: relative;
    margin: auto;
    width: 90 %;
    max-width: 600px;
    max-height: 100%;
    background-color: #fff;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
}

.title2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    color:#D41443 ;
}

.paragraph2 {
    text-align: center;
    margin-bottom: 1rem;
}

.modal-image2 {
    width: 50%;
    max-width: 200px;
}

.close2 {
    position: absolute;
    top: .5rem;
    right: 1rem;
    font-size: 2rem;
    text-decoration: none;
}

.modal-image2:hover{
    fill: #FFB8CA;
    transform: scale(1.25);
    transition-duration: 1.5s;
}